@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Crud Asp.Net Core MVC WebApp EFCore
    </h1>
    <p>Crud Asp.Net Core <a href="http://localhost:53991/Empregado">Aprendendo ASP.NET Core</a>.</p>
</div>
